@{
    ViewData["Title"] = "Home";
}

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">Chào mừng đến với HotelHub</h1>
        <p class="lead">Trải nghiệm nghỉ dưỡng đẳng cấp tại trung tâm thành phố Hồ Chí Minh</p>
        <img src="~/images/hotel-banner.jpg" class="img-fluid rounded shadow mb-4" alt="Khách sạn sang trọng" />
        <a href="/Room" class="btn btn-primary btn-lg">Đặt phòng</a>
    </div>

    <hr class="my-5" />

    <div class="row text-center">
        <div class="col-md-4">
            <img src="~/images/room.jpg" class="img-thumbnail mb-3" alt="Phòng nghỉ" />
            <h4>Phòng nghỉ tiện nghi</h4>
            <p>Phòng hiện đại, đầy đủ tiện ích, phù hợp cho mọi nhu cầu lưu trú.</p>
        </div>
        <div class="col-md-4">
            <img src="~/images/spa.jpg" class="img-thumbnail mb-3" alt="Spa" />
            <h4>Dịch vụ Spa & Gym</h4>
            <p>Thư giãn và chăm sóc sức khỏe với các dịch vụ cao cấp.</p>
        </div>
        <div class="col-md-4">
            <img src="~/images/restaurant.jpg" class="img-thumbnail mb-3" alt="Nhà hàng" />
            <h4>Ẩm thực đa dạng</h4>
            <p>Thưởng thức món ngon Á – Âu tại nhà hàng sang trọng của chúng tôi.</p>
        </div>
    </div>
</div>
